### This notebook was developped in order to process the data availalbe from IMDb (https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset) into a json file that could quickly be fed into the app database.

In [ ]:
import json
import pandas as pd
import numpy as np

In [ ]:
all_movies = pd.read_csv('archive/IMDB movies.csv',
                        usecols= [
                            'imdb_title_id',
                            'original_title',
                            'year',
                            'genre',
                            'duration',
                            'country',
                            'language',
                            'director',
                            'writer',
                            'actors',
                            'description',
                            'avg_vote',
                            'votes'
                        ])

### 1. Processing the 'features' for all movies

In [1]:
# For the sake of simplicity we keep :
#   - first 3 informations for 'genre'
#   - first 1 information for 'country'
#   - first 1 information for 'language'
#   - first 3 informations for 'directors'
#   - first 3 informations for 'writers'
#   - first 10 informations for 'actors'

In [ ]:
all_movies['genre_list'] = all_movies['genre'].astype(str).apply(lambda x: x.replace(', ',',').split(','))
all_movies['country_list'] = all_movies['country'].astype(str).apply(lambda x: x.replace(', ',',').split(','))
all_movies['language_list'] = all_movies['language'].astype(str).apply(lambda x: x.replace(', ',',').split(','))
all_movies['director_list'] = all_movies['director'].astype(str).apply(lambda x: x.replace(', ',',').split(','))
all_movies['writer_list'] = all_movies['writer'].astype(str).apply(lambda x: x.replace(', ',',').split(','))
all_movies['actors_list'] = all_movies['actors'].astype(str).apply(lambda x: x.replace(', ',',').split(','))

In [ ]:
df_genre = pd.DataFrame([all_movies['genre_list'], all_movies['imdb_title_id']]).T
df_country = pd.DataFrame([all_movies['country_list'], all_movies['imdb_title_id']]).T
df_language = pd.DataFrame([all_movies['language_list'], all_movies['imdb_title_id']]).T
df_directors = pd.DataFrame([all_movies['director_list'], all_movies['imdb_title_id']]).T
df_writers = pd.DataFrame([all_movies['writer_list'], all_movies['imdb_title_id']]).T
df_actors = pd.DataFrame([all_movies['actors_list'], all_movies['imdb_title_id']]).T

In [ ]:
# 3 for genre
for i in range(3):
    df_genre['genre_' + str(i)] = df_genre['genre_list'].apply(lambda x: x[i] if len(x) > i else None)
# 1 for country
df_country['country'] = df_country['country_list'].apply(lambda x: x[0] if len(x) > 0 else None)
# 1 for language
df_language['language'] = df_language['language_list'].apply(lambda x: x[0] if len(x) > 0 else None)
# 3 for directors
for i in range(3):
    df_directors['director_' + str(i)] = df_directors['director_list'].apply(lambda x: x[i] if len(x) > i else None)
# 3 for writers
for i in range(3):
    df_writers['writer_' + str(i)] = df_writers['writer_list'].apply(lambda x: x[i] if len(x) > i else None)
# 10 for actors
for i in range(10):
    df_actors['actor_' + str(i)] = df_actors['actors_list'].apply(lambda x: x[i] if len(x) > i else None)

In [ ]:
df_genre_0 = df_genre[['genre_0', 'imdb_title_id']].rename(columns={'genre_0':'genre'})
df_genre_1 = df_genre[['genre_1', 'imdb_title_id']].rename(columns={'genre_1':'genre'})
df_genre_2 = df_genre[['genre_2', 'imdb_title_id']].rename(columns={'genre_2':'genre'})
df_genre_union = pd.concat([df_genre_0,df_genre_1,df_genre_2]).dropna()

df_director_0 = df_directors[['director_0', 'imdb_title_id']].rename(columns={'director_0':'director'})
df_director_1 = df_directors[['director_1', 'imdb_title_id']].rename(columns={'director_1':'director'})
df_director_2 = df_directors[['director_2', 'imdb_title_id']].rename(columns={'director_2':'director'})
df_director_union = pd.concat([df_director_0,df_director_1,df_director_2]).dropna()

df_writers_0 = df_writers[['writer_0', 'imdb_title_id']].rename(columns={'writer_0':'writer'})
df_writers_1 = df_writers[['writer_1', 'imdb_title_id']].rename(columns={'writer_1':'writer'})
df_writers_2 = df_writers[['writer_2', 'imdb_title_id']].rename(columns={'writer_2':'writer'})
df_writer_union = pd.concat([df_writers_0,df_writers_1,df_writers_2]).dropna()

df_actors_0 = df_actors[['actor_0', 'imdb_title_id']].rename(columns={'actor_0':'actor'})
df_actors_1 = df_actors[['actor_1', 'imdb_title_id']].rename(columns={'actor_1':'actor'})
df_actors_2 = df_actors[['actor_2', 'imdb_title_id']].rename(columns={'actor_2':'actor'})
df_actors_3 = df_actors[['actor_3', 'imdb_title_id']].rename(columns={'actor_3':'actor'})
df_actors_4 = df_actors[['actor_4', 'imdb_title_id']].rename(columns={'actor_4':'actor'})
df_actors_5 = df_actors[['actor_5', 'imdb_title_id']].rename(columns={'actor_5':'actor'})
df_actors_6 = df_actors[['actor_6', 'imdb_title_id']].rename(columns={'actor_6':'actor'})
df_actors_7 = df_actors[['actor_7', 'imdb_title_id']].rename(columns={'actor_7':'actor'})
df_actors_8 = df_actors[['actor_8', 'imdb_title_id']].rename(columns={'actor_8':'actor'})
df_actors_9 = df_actors[['actor_9', 'imdb_title_id']].rename(columns={'actor_9':'actor'})
df_actor_union = pd.concat([df_actors_0,df_actors_1,df_actors_2,df_actors_3, df_actors_4, df_actors_5,
                              df_actors_6, df_actors_7, df_actors_8, df_actors_9]).dropna()

In [ ]:
#genre
genre_db = df_genre_union[['genre']].drop_duplicates().reset_index(drop=True)
genre_db['genre_pk'] = genre_db.index+1

#country
country_db = df_country[['country']].drop_duplicates().reset_index(drop=True)
country_db['country_pk'] = country_db.index+1

# language
language_db = df_language[['language']].drop_duplicates().reset_index(drop=True)
language_db['language_pk'] = language_db.index+1

# directors
director_db = df_director_union[['director']].drop_duplicates().reset_index(drop=True)
director_db['director_pk'] = director_db.index+1

# writers
writer_db = df_writer_union[['writer']].drop_duplicates().reset_index(drop=True)
writer_db['writer_pk'] = writer_db.index+1

# actors
actor_db = df_actor_union[['actor']].drop_duplicates().reset_index(drop=True)
actor_db['actor_pk'] = actor_db.index+1

In [ ]:
#genre
genre_for_movies = pd.merge(genre_db, df_genre_union, on='genre')

#country
country_for_movies = pd.merge(country_db, df_country[['country','imdb_title_id']], on='country')

# language
language_for_movies = pd.merge(language_db, df_language[['language','imdb_title_id']], on='language')

# directors
director_for_movies = pd.merge(director_db, df_director_union, on='director')

# writers
writer_for_movies = pd.merge(writer_db, df_writer_union, on='writer')

# actors
actor_for_movies = pd.merge(actor_db, df_actor_union, on='actor')

In [ ]:
# Note that we instanciate here the pk of each feature, which must start at 1 for each class
# (hence the index+1).
features_data_for_json = []

#genre_db
for elt in list(zip(genre_db['genre_pk'],genre_db['genre'])):
    dict_genre = {'model':'movie_reco.genre', 'pk': elt[0]}
    dict_genre['fields'] = {'name': elt[1]}
    features_data_for_json.append(dict_genre)

#country_db
for elt in list(zip(country_db['country_pk'],country_db['country'])):
    dict_country = {'model':'movie_reco.country', 'pk': elt[0]}
    dict_country['fields'] = {'name': elt[1]}
    features_data_for_json.append(dict_country)

#language_db
for elt in list(zip(language_db['language_pk'],language_db['language'])):
    dict_language = {'model':'movie_reco.language', 'pk': elt[0]}
    dict_language['fields'] = {'name': elt[1]}
    features_data_for_json.append(dict_language)

#director_db
for elt in list(zip(director_db['director_pk'],director_db['director'])):
    dict_director = {'model':'movie_reco.director', 'pk': elt[0]}
    full_name = elt[1].split(' ')
    dict_director['fields'] = {'first_name': full_name[0], 'last_name':full_name[-1]}
    features_data_for_json.append(dict_director)

#writer_db
for elt in list(zip(writer_db['writer_pk'],writer_db['writer'])):
    dict_writer = {'model':'movie_reco.writer', 'pk': elt[0]}
    full_name = elt[1].split(' ')
    dict_writer['fields'] = {'first_name': full_name[0], 'last_name':full_name[-1]}
    features_data_for_json.append(dict_writer)

#actor_db
for elt in list(zip(actor_db['actor_pk'],actor_db['actor'])):
    dict_actor = {'model':'movie_reco.actor', 'pk': elt[0]}
    full_name = elt[1].split(' ')
    dict_actor['fields'] = {'first_name': full_name[0], 'last_name':full_name[-1]}
    features_data_for_json.append(dict_actor)

In [ ]:
# Finally, we export the result in the json format.
with open('all_features.json', 'w') as f:
    json.dump(features_data_for_json, f, indent=4)

### 2. Processing the movies

In [ ]:
df_movies = all_movies[['imdb_title_id','original_title','year','duration','avg_vote']].dropna().reset_index(drop=True)

In [ ]:
df_movies['movie_pk'] = df_movies.index + 1

In [ ]:
df_movies = pd.merge(df_movies, genre_for_movies, on='imdb_title_id')
df_movies = pd.merge(df_movies, country_for_movies, on='imdb_title_id')
df_movies = pd.merge(df_movies, language_for_movies, on='imdb_title_id')
df_movies = pd.merge(df_movies, director_for_movies, on='imdb_title_id')
df_movies = pd.merge(df_movies, writer_for_movies, on='imdb_title_id')
df_movies = pd.merge(df_movies, actor_for_movies, on='imdb_title_id')

In [ ]:
movie_data_for_json = []
movie_pk=[]
i = 0
total = df_movies.shape[0]
for elt in list(zip(df_movies['movie_pk'],
                    df_movies['original_title'],
                    df_movies['imdb_title_id'],
                    df_movies['year'],
                    df_movies['duration'],
                    df_movies['avg_vote'],
                    df_movies['genre_pk'],
                    df_movies['language_pk'],
                    df_movies['country_pk'],
                    df_movies['director_pk'],           
                    df_movies['writer_pk'],
                    df_movies['actor_pk'])):
    
    pk = elt[0]
    i += 1
    if i%100 == 0:
        print(i/total * 100)
    if pk in movie_pk:
        idx_movie = movie_pk.index(pk)
        if elt[6] not in dict_movie['fields']['genre']:
            dict_movie['fields']['genre'].append(elt[6])
            
        if elt[9] not in dict_movie['fields']['director']:
            dict_movie['fields']['director'].append(elt[9])
            
        if elt[10] not in dict_movie['fields']['writer']:
            dict_movie['fields']['writer'].append(elt[10])
            
        if elt[11] not in dict_movie['fields']['actor']:
            dict_movie['fields']['actor'].append(elt[11])
        
    else:
        movie_pk.append(pk)
        dict_movie = {'model':'movie_reco.movie', 'pk': pk}
        dict_movie['fields'] = {'title': elt[1],
                                'imdbid':elt[2],
                                'year': elt[3],
                                'duration': elt[4],
                                'imdbid_rate':elt[5],
                                'genre':[elt[6]],
                                'language':[elt[7]],
                                'country':[elt[8]],
                                'director':[elt[9]],
                                'writer':[elt[10]],
                               'actor': [elt[11]]}
        movie_data_for_json.append(dict_movie)

In [ ]:
# Finally, we export the result in the json format.
with open('movie_data.json', 'w') as f:
    json.dump(movie_data_for_json, f, indent=4)

In [5]:
import pandas as pd
movie_data = pd.read_json('movie_data.json')

In [8]:
movie_data['imdbid_raw'] = movie_data['fields'].apply(lambda x : x['imdbid'])

In [12]:
movie_data['imdbid_processed'] = movie_data['imdbid_raw'].apply(lambda x: int(x.replace('tt', '')))
# après cette transformation, on peut faire un pd.merge(df1,df2, on)

In [13]:
movie_data

,model,pk,fields,imdbid_raw,imdbid_processed
0,MovieReco.movie,1,"{'title': 'Miss Jerry', 'imdbid': 'tt0000009',...",tt0000009,9
1,MovieReco.movie,2,"{'title': 'The Story of the Kelly Gang', 'imdb...",tt0000574,574
2,MovieReco.movie,3,"{'title': 'Den sorte drøm', 'imdbid': 'tt00018...",tt0001892,1892
3,MovieReco.movie,4,"{'title': 'Cleopatra', 'imdbid': 'tt0002101', ...",tt0002101,2101
4,MovieReco.movie,5,"{'title': 'L'Inferno', 'imdbid': 'tt0002130', ...",tt0002130,2130
...,...,...,...,...,...
85850,MovieReco.movie,85851,"{'title': 'Le lion', 'imdbid': 'tt9908390', 'y...",tt9908390,9908390
85851,MovieReco.movie,85852,"{'title': 'De Beentjes van Sint-Hildegard', 'i...",tt9911196,9911196
85852,MovieReco.movie,85853,"{'title': 'Padmavyuhathile Abhimanyu', 'imdbid...",tt9911774,9911774
85853,MovieReco.movie,85854,"{'title': 'Sokagin Çocuklari', 'imdbid': 'tt99...",tt9914286,9914286
85854,MovieReco.movie,85855,"{'title': 'La vida sense la Sara Amat', 'imdbi...",tt9914942,9914942

In [ ]:
# garder dans le traitement de données l'imdbId